/* body {
    margin: 0;
    overflow-x: hidden;
} */
.myrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger !important;
}
.myfooter {
    background: #000;
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.myfooter > .myrow {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.myfooter > .myrow a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.myfooter > .myrow a:hover {
    color: #fff;
}

.myfooter > .myrow ul {
    width: 100%;
}

.myfooter > .myrow ul li {
    display: inline-block;
    margin: 0px 30px;
}
.myfooter > .myrow a{
    margin-right: 20px;
}

.myfooter > .myrow a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width:720px) {
    .myfooter {
        text-align: left;
        padding: 5%;
        font-size: 0.6rem !important;
    }

    .myfooter > .myrow ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .myfooter > .myrow a i {
        margin: 0% 3%;
    }
}